@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@media screen and (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
    }
      .menu-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        top: 20px;
        right: 20px;
        z-index: 1000;
        background-color: transparent;
        border: none;
        outline: none;
      }
      .navbar{
        display: none;
      }
      
      .line {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 2px 0;
        transition: all 0.3s ease;
      }
      
      .menu-btn.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px);
        margin: 0;
      }
      
      .menu-btn.open .line:nth-child(2) {
        transform: rotate(-45deg) translate(1px, -1px);
        margin: 0;
      }
      
      .menu-btn.open .line:nth-child(3) {
        display: none;
      }
      .social{
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    .fa:hover {
          opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
      .menu h1{
        color: black;
        text-align: center;
        margin-top: -12%;
      }   
      .menu {
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #fff;
        width: 250px;
        height: 100%;
        padding-top: 60px;
        transition: all 0.3s ease;
        z-index: 999;
      }
      
      .menu ul {
        list-style-type: none;
        padding: 0;
      }
      
      .menu ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
      }
      
      .menu ul li a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
      }
      
      .menu-btn.open + .menu {
        right: 0;
      }
      #scrollToTopBtn{
        display: none;
      }
    body{
        min-height: 100vh;
        background-image: linear-gradient(to right, #333333, #222222);
    }
    .intro{
        display: none;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;   
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .navbar a{
        position: relative;
        font-size: 1.1333333333333333em;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin-right: 10px;
    }
    .home{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('homeImages.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hometext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .hometext h1{
        margin-top: 35%;
        font-size: 3.3333333333333335em;
        margin-bottom: 5%;
    }
    .hometext h4{
        font-size: 13px;
        font-weight: 550;
    }
    .service{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(serviceImage.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover  ;
        display: flex;  
        align-items: center;
        justify-content: center;
    }
    #service-right{
        display: none;
    }
    .service-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-left: 5%;
    }
    .service-left p{
        text-align: center;
        color: #ededed;
    }
    .service-left h1{
        color: #fff;
        font-size: 4em;
    }
    .service-left span{
        width: 12em;
        height: 2.6666666666666665em;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 0.6666666666666666em;
        justify-content: center;
        margin-top: 1.3333333333333333em;
        box-shadow: 0 0 0.6666666666666666em #D9D9D9;
    }
    .service-left a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .price{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(priceImage.png);
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ededed;
    }
    .price-left{
        display: none;
    }
    }
    .price-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .price-right h1{
        font-size: 4.666666666666667em;
        padding-bottom: 10%;
    }
    .price-right h4{
        font-size: 1.3333333333333333em;
    }
    .price-right span{
        width: 12em;
        height: 2.6666666666666665em;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 0.6666666666666666em;
        justify-content: center;
        margin-top: 1.3333333333333333em;
        box-shadow: 0 0 0.6666666666666666em #D9D9D9;
    }
    .price-right a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .faq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        color: #D9D9D9;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .faq h1{
        font-size: 4em;
    }
    .faq-block{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .faq-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faq-left p{
        font-size: 1em;
    }
    .faq span{
        width: 12em;
        height: 2.6666666666666665em;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 0.6666666666666666em;
        justify-content: center;
        margin-top: 1.3333333333333333em;
        box-shadow: 0 0 0.6666666666666666em #D9D9D9;
    }
    .faq a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .blockContact{
        flex: 100%;
        padding: 0.6666666666666666em;
        height: 100vh;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .contactBlock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rightContact h2{
        font-size: 2.6666666666666665em;
        color: #ededed;
        text-align: center;
        margin-bottom: 0.6666666666666666em;
    }
    .rightContact form{
        text-align: center;
    }
    form .input-box{
        display: flex;
        justify-content: space-between;
    }
    .input-box .input-field{
        width: 48.5%    ;
    }
    .field .item{
        width: 80%;
        padding: 1.2em;
        background: transparent;
        border: 0.13333333333333333em solid #EAE1DF;
        outline: none;
        border-radius: 0.4em;
        font-size: 1.0666666666666667em;
        color: #ededed;
        margin: 0.8em 0;
    }
    .field.error .item{
        border-color: #d93025;
    }
    .field.error .error-txt{
        display: block;
    }
    .field .error-txt{
        font-size: 0.9666666666666667em;
        color: #d93025;
        text-align: left;
        margin: -0.3333333333333333em 0 0.6666666666666666em;
        display: none;
    }
    form .textarea-field .error-txt{
        margin-top: -0.6666666666666666em;
    }
    .field .item::placeholder{
        color: rgba(255, 255, 255, .3);
    }
    form .textarea-field .item{
        resize: none;
    }
    form button{
        padding: 0.8em 2.1333333333333333em;
        background: white;
        border: none;
        outline: none;
        border-radius: 0.4em;
        box-shadow: 0 0 0.6666666666666666em #EAE1DF;
        font-size: 1.0666666666666667em;
        color: #333;
        letter-spacing: 0.06666666666666667em;
        font-weight: 600;
        cursor: pointer;
        margin-top: 1.3333333333333333em;
        transition: .5s;
    }
    form button:hover{
        box-shadow: none;
    }
    .leftContact{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .leftContact hr{
        width: 25%;
        border-radius: 0.3333333333333333em;
    }
    .block{
        margin: 5.666666666666667em;  
    }
    .block h1{
        color: #EAE1DF;
        font-size: 1.5em; 
    }
    .block p{
        color: #EAE1DF;
    }
    .block a{
        text-decoration: none;
        color: #EAE1DF;
    }
    .block a:hover{
        color: #B4BEC9;
    }
    .ContacHr{
        display: none;
    }
    .footer{
        background: #EAE1DF;
    }
    .footerhr{
        width: 100%;
    }
    .footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.4666666666666667em;
        height: 1em;
    }
@media screen and (min-width: 601px) and (max-width: 1024px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
    }
    #scrollToTopBtn{
        display: none;
    }
    .navbar{
        display: none;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }
      
      .menu-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        top: 20px;
        right: 20px;
        z-index: 1000;
        background-color: transparent;
        border: none;
        outline: none;
      }
      
      .line {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 2px 0;
        transition: all 0.3s ease;
      }
      
      .menu-btn.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px);
        margin: 0;
      }
      
      .menu-btn.open .line:nth-child(2) {
        transform: rotate(-45deg) translate(1px, -1px);
        margin: 0;
      }
      
      .menu-btn.open .line:nth-child(3) {
        display: none;
      }
      .menu {
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #fff;
        width: 250px;
        height: 100%;
        padding-top: 60px;
        transition: all 0.3s ease;
        z-index: 999;
      }
      .menu h1{
        color: black;
        text-align: center;
        margin-top: -12%;
      }
      .menu ul {
        list-style-type: none;
        padding: 0;
      }
      
      .menu ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
      }
      
      .menu ul li a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
      }
      
      .menu-btn.open + .menu {
        right: 0;
      }    
    body{
        min-height: 100vh;
        background-image: linear-gradient(to right, #333333, #222222);
    }
    .intro{
        display: none;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;   
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .navbar a{
        position: relative;
        font-size: 1.1333333333333333em;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin-right: 10px;
    }
    .social{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
    .fa:hover {
          opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .home{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('homeImages.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hometext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .hometext h1{
        margin-top: 35%;
        font-size: 3.3333333333333335em;
        margin-bottom: 5%;
    }
    .hometext h4{
        font-size: 1em;
        font-weight: 550;
    }
    .service{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(serviceImage.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover  ;
    }
    #service-right{
        display: none;
    }
    .service-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-left: 5%;
    }
    .service-left p{
        text-align: center;
        color: #ededed;
    }
    .service-left h1{
        color: #fff;
        font-size: 4em;
    }
    .service-left span{
        width: 12em;
        height: 2.6666666666666665em;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 0.6666666666666666em;
        justify-content: center;
        margin-top: 1.3333333333333333em;
        box-shadow: 0 0 0.6666666666666666em #D9D9D9;
    }
    .service-left a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .price{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(priceImage.png);
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ededed;
    }
    .price-left{
        display: none;
    }
    .price-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .price-right h1{
        font-size: 4.666666666666667em;
        padding-bottom: 10%;
    }
    .price-right h4{
        font-size: 1.3333333333333333em;
    }
    .price-right span{
        width: 12em;
        height: 2.6666666666666665em;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 0.6666666666666666em;
        justify-content: center;
        margin-top: 1.3333333333333333em;
        box-shadow: 0 0 0.6666666666666666em #D9D9D9;
    }
    .price-right a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .faq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        color: #D9D9D9;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .faq h1{
        font-size: 4em;
    }
    .faq-block{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .faq-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faq-left p{
        font-size: 1em;
    }
    .faq span{
        width: 12em;
        height: 2.6666666666666665em;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 0.6666666666666666em;
        justify-content: center;
        margin-top: 1.3333333333333333em;
        box-shadow: 0 0 0.6666666666666666em #D9D9D9;
    }
    .faq a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .blockContact{
        flex: 100%;
        padding: 0.6666666666666666em;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .contactBlock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rightContact h2{
        font-size: 2.6666666666666665em;
        color: #ededed;
        text-align: center;
        margin-bottom: 0.6666666666666666em;
    }
    .rightContact form{
        text-align: center;
    }
    form .input-box{
        display: flex;
        justify-content: space-between;
    }
    .input-box .input-field{
        width: 48.5%    ;
    }
    .field .item{
        width: 100%;
        padding: 1.2em;
        background: transparent;
        border: 0.13333333333333333em solid #EAE1DF;
        outline: none;
        border-radius: 0.4em;
        font-size: 1.0666666666666667em;
        color: #ededed;
        margin: 0.8em 0;
    }
    .field.error .item{
        border-color: #d93025;
    }
    .field.error .error-txt{
        display: block;
    }
    .field .error-txt{
        font-size: 0.9666666666666667em;
        color: #d93025;
        text-align: left;
        margin: -0.3333333333333333em 0 0.6666666666666666em;
        display: none;
    }
    form .textarea-field .error-txt{
        margin-top: -0.6666666666666666em;
    }
    .field .item::placeholder{
        color: rgba(255, 255, 255, .3);
    }
    form .textarea-field .item{
        resize: none;
    }
    form button{
        padding: 0.8em 2.1333333333333333em;
        background: white;
        border: none;
        outline: none;
        border-radius: 0.4em;
        box-shadow: 0 0 0.6666666666666666em #EAE1DF;
        font-size: 1.0666666666666667em;
        color: #333;
        letter-spacing: 0.06666666666666667em;
        font-weight: 600;
        cursor: pointer;
        margin-top: 1.3333333333333333em;
        transition: .5s;
    }
    form button:hover{
        box-shadow: none;
    }
    .leftContact{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .leftContact hr{
        width: 25%;
        border-radius: 0.3333333333333333em;
    }
    .block{
        margin: 5.666666666666667em;
    }
    .block h1{
        color: #EAE1DF;
        font-size: 1.5em; 
    }
    .block p{
        color: #EAE1DF;
    }
    .block a{
        text-decoration: none;
        color: #EAE1DF;
    }
    .block a:hover{
        color: #B4BEC9;
    }
    .ContacHr{
        display: none;
    }
    .footer{
        background: #EAE1DF;
    }
    .footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.4666666666666667em;
        height: 1em;
    }
}
@media screen and (min-width: 1025px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    html {
        scroll-behavior: smooth;
    }
    body{
        min-height: 100vh;
        background-image: linear-gradient(to right, #333333, #222222);
    }
    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        background-color: white;
        color: #333;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        transition: opacity 0.4s, visibility 0.4s;
    }

    #scrollToTopBtn:hover {
        background-color: #555;
        color: white;
    }
        .intro{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #161616;
        transition: 1s;
    }
    .logo-header{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
    }
    .logo{
        position: relative;
        display: inline-block;
        bottom: -20px;
        opacity: 0;
        font-size: 100px;
    }
    .logo.active{
        bottom: 0;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
    .logo.fade{
        bottom: 150px;
        opacity: 0;
        transition: ease-in-out 0.5s;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: transparent;   
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .nav-logo{
        font-size: 32px;
        color: lightgray;
        text-decoration: none;
        font-weight: 700;
    }

    .navbar a{
        position: relative;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #fff;
        transition: .3s;
    }
    .navbar a:hover::before{
        width: 100%;
    }
    .home{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('homeImages.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .home h1{
        margin-top: 15%;
        font-size: 80px;
    }
    .home h1,h4{
        text-align: center;
        width: 100%;
        color: white;
    }
    .hr1{
        height: 5px;
        background-color: white;
        color: white;
    }
    .service{
        height: 100vh;
    }
    .service-block{
        display: flex;
    }
    .blockService{
        flex: 50%;
        padding: 10px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, #333333, #222222);
    }
    .service-left{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }
    .service-left h1{
        font-size: 120px;
        color: #D9D9D9;
        font-weight: 600;
    }
    .service-left p{
        color: #D9D9D9;
        font-weight: 600;
        text-align: left;
        max-width: 70%;
    }
    .service-left span{
        width: 180px;
        height: 40px;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 10px;
        justify-content: center;
        margin-top: 20px;
        box-shadow: 0 0 10px #D9D9D9;
    }
    .service-left span:hover{
        background-color: #B4BEC9;
        box-shadow: none;
        color: #0D0D0D;
        cursor: pointer;
        transition: .5s;
    }
    .service-left a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .service-right p{
        font-size: 3em;
        padding-left: 20%;
        color: #D9D9D9;
        font-weight: 800;
        width: 50%;
    }
    #service-right{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('serviceImage.jpg');
        background-size: cover;
        background-repeat: repeat;
    }
    .hr2{
        height: 5px;
        background-color: white;
        color: white;
    }
    .price{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('priceImage.png');
        background-position: center;
        background-size: cover;
    }
    .price-block{
        display: flex;
    }
    .blockPrice{
        flex: 50%;
        padding: 10px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price-right{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .price-right h1{
        font-size: 4em;
        color: #D9D9D9;
        font-weight: 600;
    }
    .price-right p{
        color: #D9D9D9;
        font-weight: 600;
        max-width: 50%;
    }
    .price-right span{
        width: 180px;
        height: 40px;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 10px;
        justify-content: center;
        margin-top: 20px;
        box-shadow: 0 0 10px #D9D9D9;
        
    }
    .price-right span:hover{
        background-color: #B4BEC9;
        color: #0D0D0D;
        cursor: pointer;
        box-shadow: none;
        transition: .5s;
    }
    .price-left p{
        font-size: 4em;
        padding-left: 20%;
        color: #D9D9D9;
        font-weight: 800;
    }
    .price-right a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .hr3{
        height: 5px;
        background-color: white;
        color: white;
    }
    .faq{
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images.jpg');        
        background-repeat: no-repeat;
        background-size: cover;
    }
    .faq-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 750px;
        
    }
    .faq-headertxt h1{
        padding-top: 20%;
        padding-bottom: 5%;
        font-size: 100px;
        color: #EAE1DF;
        display: flex;
        justify-content: center;
    }
    .faq-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
    }
    .faq-left p{
        padding-top: 4%;
        font-weight: 500;
        color: #EAE1DF;
        text-align: center;
        font-size: 25px;
        max-width: 800px;
        padding-bottom: 3%;
    }
    .faq-left span{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        background: #D9D9D9;
        border-radius: 20px;
        justify-content: center;
        margin-top: 20px;
        box-shadow: 0 0 10px #D9D9D9;
    }
    .faq-left span:hover{
        background-color: #B4BEC9;
        color: #0D0D0D;
        cursor: pointer;
        box-shadow: none;
        transition: .5s;
    }
    .faq-left a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    .hr4{
        height: 5px;
        background-color: white;
        color: white;
    }
    .contact{
        height: 100vh;
    }
    .footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 7px;
        height: 15px;
    }
    .faq-block{
        display: flex;
    }
    .contact-container{
        display: flex;
        flex-direction: row;
    }
    .contactBlock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rightContact h2{
        font-size: 40px;
        color: #ededed;
        text-align: center;
        margin-bottom: 10px;
    }
    .rightContact form{
        width: 600px;
        text-align: center;
    }
    form .input-box{
        display: flex;
        justify-content: space-between;
    }
    .input-box .input-field{
        width: 48.5%    ;
    }
    .field .item{
        width: 100%;
        padding: 18px;
        background: transparent;
        border: 2px solid #EAE1DF;
        outline: none;
        border-radius: 6px;
        font-size: 16px;
        color: #ededed;
        margin: 12px 0;
    }
    .field.error .item{
        border-color: #d93025;
    }
    .field.error .error-txt{
        display: block;
    }
    .field .error-txt{
        font-size: 14.5px;
        color: #d93025;
        text-align: left;
        margin: -5px 0 10px;
        display: none;
    }
    form .textarea-field .error-txt{
        margin-top: -10px;
    }
    .field .item::placeholder{
        color: rgba(255, 255, 255, .3);
    }
    form .textarea-field .item{
        resize: none;
    }
    form button{
        padding: 12px 32px;
        background: white;
        border: none;
        outline: none;
        border-radius: 6px;
        box-shadow: 0 0 10px #EAE1DF;
        font-size: 16px;
        color: #333;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
        transition: .5s;
    }
    form button:hover{
        box-shadow: none;
    }
    .leftContact{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .leftContact hr{
        width: 300px;
        border-radius: 5px;
    }
    .block{
        margin: 85px;
    }
    .block h1{
        color: #EAE1DF;
        font-size: 30px;
    }
    .block p{
        color: #EAE1DF;
    }
    .block a{
        text-decoration: none;
        color: #EAE1DF;
    }
    .block a:hover{
        color: #B4BEC9;
    }
    .footerhr{
        width: 0.5%;
    }
    .footer{
        background: #EAE1DF;
    }
    .menu-btn{
        display: none;
    }
    .menu{
        display: none;
    }
      ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
}