@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 750px) {
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .header{
        border-bottom: 1px solid #E2E8F0;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    
    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #101010;
    }
    
    .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: #101010;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .sectionOne{
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(440047561_122100947876292803_6638669575596319717_n.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sectionOne h1{
        font-size: 50px;
        color: white
    }
    .sectionOne p{
        font-size: 12px;
        color: white;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1%;
    }
    .options button{
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        border: 2px solid black;
        cursor: pointer;
        text-decoration: none;
        color: black;
        background: white;
    }
    .options button:hover{
        background: #E2E8F0;
    }
    .accordion {
        max-width: 365px;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .accordion-item {
        border-bottom: 1px solid #ccc;
    }
    
    .accordion-header {
        background-color: #E2E8F0;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s ease;
    }
    
    .accordion-header:hover {
        background-color: #ddd;
    }
    
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background-color: white;
        padding: 0 18px;
        font-size: 13px
    }
    
    .accordion-content p {
        margin: 18px 0;
    }
    
    .sign {
        font-size: 24px;
        transition: transform 0.3s ease;
    }
    
    .accordion-header.active .sign {
        content: '-';
    }
    .service{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service button{
        border-radius: 10px;
        padding: 10px;
        border: 2px solid black;
        margin: 10px;
        cursor: pointer;
        background: white;
        text-decoration: none;
        color: black;
    }
}
@media screen and (min-width: 751px) {
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    
    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
    }
    
    .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: white;
    }
    .sectionOne{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 70vh;
        margin-bottom: 2%;
    }
    .image{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(440047561_122100947876292803_6638669575596319717_n.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sectionOne h1{
        font-size: 70px;
        color: white;
    }
    .sectionOne p{
        font-size: 15px;
        color: white;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1%;
    }
    .options button{
        padding: 15px;
        margin: 0 10px 0 10px;
        border-radius: 20px;
        border: 2px solid black;
        cursor: pointer;
    }
    .options button:hover{
        background: #E2E8F0;
    }
    .service{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service button{
        border-radius: 10px;
        padding: 10px;
        border: 2px solid black;
        margin: 10px;
        cursor: pointer;
        background: white;
        color: black;
    }
    .service button:hover{
        background: #E2E8F0;
    }
    .accordion {
        max-width: 600px;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .accordion-item {
        border-bottom: 1px solid #ccc;
    }
    .accordion-header {
        background-color: #E2E8F0;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s ease;
    }
    
    .accordion-header:hover {
        background-color: #ddd;
    }
    
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background-color: white;
        padding: 0 18px;
        font-size: 13px
    }
    
    .accordion-content p {
        margin: 18px 0;
    }
    
    .sign {
        font-size: 24px;
        transition: transform 0.3s ease;
    }
    
    .accordion-header.active .sign {
        content: '-';
    }
}
