@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@media screen and (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;   
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .navbar{
        display: none;
    }
     
    .menu-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        top: 20px;
        right: 20px;
        z-index: 1000;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .fa {
        padding: 20px;
        font-size: 30px;

        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
    .social{
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    .fa:hover {
          opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 2px 0;
        transition: all 0.3s ease;
    }
    
    .menu-btn.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px);
        margin: 0;
    }
    
    .menu-btn.open .line:nth-child(2) {
        transform: rotate(-45deg) translate(1px, -1px);
        margin: 0;
    }
    
    .menu-btn.open .line:nth-child(3) {
        display: none;
    }
    
    .menu {
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #fff;
        width: 250px;
        height: 100%;
        padding-top: 60px;
        transition: all 0.3s ease;
        z-index: 999;
    }
    .menu h1{
        color: black;
        text-align: center;
        margin-top: -12%;
    }
    
    .menu ul {
        list-style-type: none;
        padding: 0;
    }
    
    .menu ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }
    
    .menu-btn.open + .menu {
        right: 0;
    }
    .navbar a{
        position: relative;
        font-size: 1.1333333333333333em;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin-right: 10px;
    }
    .ServiceMain{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ServiceMainImages{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Service.jpg);
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .ServiceSecond{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 2% 0 0 2%;
        font-weight: bolder;
    }
    .ServiceBlocksOne{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ServiceBlockOneText{
        padding: 5% 0 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ServiceBlockOne h1{
        font-size: large;
        text-align: center;
    }
    .ServiceBlockOne h4{
        font-size: smaller;
        width: 80%;
    }
    .ServiceBlockTwo{
        display: none;
    }
    .ServiceBlockThree{
        display: none;
    }
    .ServiceBlocksTwo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ServiceBlockFourText{
        padding: 5% 0 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ServiceBlockFourText h1{
        font-size: large;
        text-align: center;
    }
    .ServiceBlockFourText h4{
        font-size: smaller;
        width: 80%;
    }
    .footer{
        font-size: 15px;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;   
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .navbar{
        display: none;
    }
    .menu-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        top: 20px;
        right: 20px;
        z-index: 1000;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 2px 0;
        transition: all 0.3s ease;
    }
    
    .menu-btn.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px);
        margin: 0;
    }
    
    .menu-btn.open .line:nth-child(2) {
        transform: rotate(-45deg) translate(1px, -1px);
        margin: 0;
    }
    
    .menu-btn.open .line:nth-child(3) {
        display: none;
    }
    .menu h1{
        color: black;
        text-align: center;
        margin-top: -12%;
    }
    .menu {
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #fff;
        width: 250px;
        height: 100%;
        padding-top: 60px;
        transition: all 0.3s ease;
        z-index: 999;
    }
    
    .menu ul {
        list-style-type: none;
        padding: 0;
    }
    
    .menu ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
    }
    
    .menu-btn.open + .menu {
        right: 0;
    }
    .ServiceMain{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ServiceMainImages{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Service.jpg);
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .ServiceSecond{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
        height: 10vh;
    }
    .ServiceSecond h1{
        font-size: large;
        font-weight: 700;
    }
    .ServiceSecond h5{
        font-size: medium;
        font-weight: 600;
    }
    .ServiceMain h1{
        font-size: 5em;
        font-weight: 800;
        margin-bottom: 5%;
    }
    .ServiceBlocksOne{
        display: flex;
        flex-direction: row;
    }
    .ServiceBlockOne,.ServiceBlockTwo{
        width: 50%;
        height: 70vh;
    }
    .ServiceBlockTwo{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(ServiceBlockTwo.webp);
        background-position: center;    
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ServiceBlocksTwo{
        display: flex;
        flex-direction: row;
    }
    .ServiceBlockThree, .ServiceBlockFour{
        width: 50%;
        height: 70vh;
    }
    .ServiceBlockThree{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(ServiceBlockThree.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ServiceBlockFourText{
        display: flex;
        flex-direction: column;
    }
    .ServiceBlockOneText{
        display: flex;
        flex-direction: column;
    }
    .ServiceBlockOne ,.ServiceBlockOneText{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .ServiceBlockOneText{
        max-width: 90%;
    }
    .ServiceBlockOneText h1{
        font-weight: 800;
        font-size: large;
    }
    .ServiceBlockOneText h4{
        font-size: 10px;
    }
    .ServiceBlockFour ,.ServiceBlockFourText{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .ServiceBlockFourText{
        max-width: 90%;
    }
    .ServiceBlockFourText h1{
        font-weight: 800;
        font-size: large;
    }
    .ServiceBlockFourText h4{
        font-size: 10px;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 15px;
        height: 30px;
        background: transparent;
    }
}
@media screen and (min-width: 1025px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    
    }
    .menu-btn{
        display: none;
    }
    .menu{
        display: none;
    }
    .header{
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: transparent;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .nav-logo{
        font-size: 32px;
        color: lightgray;
        text-decoration: none;
        font-weight: 700;
    }
    
    .navbar a{
        position: relative;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #fff;
        transition: .3s;
    }
    .navbar a:hover::before{
        width: 100%;
    }
    .ServiceMainImages{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Service.jpg);
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .ServiceMain{
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ServiceSecond{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
        height: 10vh;
    }
    .ServiceSecond h1{
        font-size: 60px;
        font-weight: 700;
    }
    .ServiceSecond h5{
        font-size: 15px;
        font-weight: 600;
    }
    .ServiceMain h1{
        font-size: 5em;
        font-weight: 800;
        margin-bottom: 5%;
    }
    .ServiceBlocksOne{
        display: flex;
        flex-direction: row;
    }
    .ServiceBlockOne,.ServiceBlockTwo{
        width: 50%;
        height: 70vh;
    }
    .ServiceBlockTwo{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(ServiceBlockTwo.webp);
        background-position: center;    
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ServiceBlocksTwo{
        display: flex;
        flex-direction: row;
    }
    .ServiceBlockThree, .ServiceBlockFour{
        width: 50%;
        height: 70vh;
    }
    .ServiceBlockThree{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(ServiceBlockThree.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ServiceBlockFourText{
        display: flex;
        flex-direction: column;
    }
    .ServiceBlockOneText{
        display: flex;
        flex-direction: column;
    }
    .ServiceBlockOne ,.ServiceBlockOneText{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .ServiceBlockOneText{
        max-width: 600px;
    }
    .ServiceBlockOneText h1{
        font-weight: 800;
        font-size: 50px;
    }
    .ServiceBlockFour ,.ServiceBlockFourText{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .ServiceBlockFourText{
        max-width: 600px;
    }
    .ServiceBlockFourText h1{
        font-weight: 800;
        font-size: 50px;
    }
    .footer{
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
        height: 30px;
        background: transparent;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
}